@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my small project.</h1>
    <p><a>This web app has been deployed using ASP.NET</a>.</p>
</div>
